./target
.classpath
.project
.settings

prototypes-android/target
prototypes-android/.classpath
prototypes-android/.project
prototypes-android/.settings
prototypes-android/libs
prototypes-android/.externalToolBuilders
prototypes-android/gen

prototypes-core/target
prototypes-core/.classpath
prototypes-core/.project
prototypes-core/.settings

prototypes-desktop/target
prototypes-desktop/.classpath
prototypes-desktop/.project
prototypes-desktop/.settings

